modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 21922
externalPort = 3003

[[ports]]
localPort = 22228
externalPort = 3002

[[ports]]
localPort = 24437
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_Y2FwaXRhbC1wb2xsaXdvZy02NC5jbGVyay5hY2NvdW50cy5kZXYk"
MASTER_ADMIN_USER_IDS = "user_3D7p8XzwxuAboFS0tWspXe07Rkr,user_3D7u3FwoAKDaOD0K2yFq4fGtTmm"
VAPID_PUBLIC_KEY = "BJwTnO-uVwTW6x0rcmdm5mbXcYKb4qmWAXZ-dcF4_ax0Mbke30QzIMDOyhevDOxJnKxnUIUVkQ8t5SsTX6pYKUU"
VAPID_SUBJECT = "mailto:notifications@lineup-lab.app"
